<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Binary Id="CA_DLL" SourceFile="$(var.PowerShellActions.TargetDir)PowerShellActions.CA.dll" />

    <CustomAction Id="PowerShellScriptsImmediate" DllEntry="PowerShellScriptsImmediate" Execute="immediate" Return="check" BinaryRef="CA_DLL" />

    <CustomAction Id="PowerShellScriptsDeferred" DllEntry="PowerShellScriptsDeferred" Impersonate="yes" Execute="deferred" Return="check" BinaryRef="CA_DLL" />
	  
    <CustomAction Id="PowerShellScriptsUninstall" DllEntry="PowerShellScriptsUninstall" Execute="immediate" Return="check" BinaryRef="CA_DLL" />

    <CustomAction Id="PowerShellScriptsUninstallDeferred" DllEntry="PowerShellScriptsUninstallDeferred" Impersonate="yes" Execute="deferred" Return="check" BinaryRef="CA_DLL" />

    <CustomAction Id="PowerShellScriptsElevatedImmediate" DllEntry="PowerShellScriptsElevatedImmediate" Execute="immediate" Return="check" BinaryRef="CA_DLL" />

    <CustomAction Id="PowerShellScriptsElevatedDeferred" DllEntry="PowerShellScriptsElevatedDeferred" Impersonate="no" Execute="deferred" Return="check" BinaryRef="CA_DLL" />

    <CustomAction Id="PowerShellScriptsElevatedUninstall" DllEntry="PowerShellScriptsElevatedUninstall" Execute="immediate" Return="check" BinaryRef="CA_DLL" />

    <CustomAction Id="PowerShellScriptsElevatedUninstallDeferred" DllEntry="PowerShellScriptsElevatedUninstallDeferred" Impersonate="no" Execute="deferred" Return="check" BinaryRef="CA_DLL" />
	  
    <CustomAction Id="PowerShellFilesImmediate" DllEntry="PowerShellFilesImmediate" Execute="immediate" Return="check" BinaryRef="CA_DLL" />

    <CustomAction Id="PowerShellFilesDeferred" DllEntry="PowerShellFilesDeferred" Impersonate="yes" Execute="deferred" Return="check" BinaryRef="CA_DLL" />

    <CustomAction Id="PowerShellFilesUninstall" DllEntry="PowerShellFilesUninstall" Execute="immediate" Return="check" BinaryRef="CA_DLL" />
	  
    <CustomAction Id="PowerShellFilesUninstallDeferred" DllEntry="PowerShellFilesUninstallDeferred" Impersonate="yes" Execute="deferred" Return="check" BinaryRef="CA_DLL" />

    <CustomAction Id="PowerShellFilesElevatedImmediate" DllEntry="PowerShellFilesElevatedImmediate" Execute="immediate" Return="check" BinaryRef="CA_DLL" />
    
    <CustomAction Id="PowerShellFilesElevatedDeferred" DllEntry="PowerShellFilesElevatedDeferred" Impersonate="no" Execute="deferred" Return="check" BinaryRef="CA_DLL" />

    <CustomAction Id="PowerShellFilesElevatedUninstall" DllEntry="PowerShellFilesElevatedUninstall" Execute="immediate" Return="check" BinaryRef="CA_DLL" />

    <CustomAction Id="PowerShellFilesElevatedUninstallDeferred" DllEntry="PowerShellFilesElevatedUninstallDeferred" Impersonate="no" Execute="deferred" Return="check" BinaryRef="CA_DLL" />	  

    <InstallExecuteSequence>
      <!-- These are the 'immediate' actions that prep the data for the 'deferred' actions-->
      <Custom Action="PowerShellScriptsImmediate" Before="PowerShellScriptsDeferred" Overridable="yes" Condition="NOT Installed" />

      <Custom Action="PowerShellScriptsElevatedImmediate" Before="PowerShellScriptsElevatedDeferred" Overridable="yes" Condition="NOT Installed" />

      <Custom Action="PowerShellFilesImmediate" Before="PowerShellFilesDeferred" Overridable="yes" Condition="NOT Installed" />
      
      <Custom Action="PowerShellFilesElevatedImmediate" Before="PowerShellFilesElevatedDeferred" Overridable="yes" Condition="NOT Installed" />

      <!-- 'Deferred' actions -->
      <Custom Action="PowerShellScriptsDeferred" After="InstallFiles" Overridable="yes" Condition="NOT Installed" />

      <Custom Action="PowerShellScriptsElevatedDeferred" After="InstallFiles" Overridable="yes" Condition="NOT Installed" />

      <Custom Action="PowerShellFilesDeferred" After="InstallFiles" Overridable="yes" Condition="NOT Installed" />

      <Custom Action="PowerShellFilesElevatedDeferred" After="InstallFiles" Overridable="yes" Condition="NOT Installed" />

      <!-- 'Uninstall immediate' actions -->
      <Custom Action="PowerShellScriptsUninstall" Before="PowerShellScriptsUninstallDeferred" Overridable="yes" Condition="REMOVE=&quot;ALL&quot;" />

      <Custom Action="PowerShellScriptsElevatedUninstall" Before="PowerShellScriptsElevatedUninstallDeferred" Overridable="yes" Condition="REMOVE=&quot;ALL&quot;" />

      <Custom Action="PowerShellFilesUninstall" Before="PowerShellFilesUninstallDeferred" Overridable="yes" Condition="REMOVE=&quot;ALL&quot;" />

      <Custom Action="PowerShellFilesElevatedUninstall" Before="PowerShellFilesElevatedUninstallDeferred" Overridable="yes" Condition="REMOVE=&quot;ALL&quot;" />

      <!-- 'Uninstall deferred' actions -->
      <Custom Action="PowerShellScriptsUninstallDeferred" After="RemoveFiles" Overridable="yes" Condition="REMOVE=&quot;ALL&quot;" />

      <Custom Action="PowerShellScriptsElevatedUninstallDeferred" After="RemoveFiles" Overridable="yes" Condition="REMOVE=&quot;ALL&quot;" />

      <Custom Action="PowerShellFilesUninstallDeferred" After="RemoveFiles" Overridable="yes" Condition="REMOVE=&quot;ALL&quot;" />

      <Custom Action="PowerShellFilesElevatedUninstallDeferred" After="RemoveFiles" Overridable="yes" Condition="REMOVE=&quot;ALL&quot;" />
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="PowerShellFilesDeferred" Message="PowerShell Files" />
      <ProgressText Action="PowerShellScriptsDeferred" Message="PowerShell Inline" />
      <ProgressText Action="PowerShellScriptsElevatedDeferred" Message="PowerShell Inline (elevated)" />
      <ProgressText Action="PowerShellFilesElevatedDeferred" Message="PowerShell Files (elevated)" />

	  <ProgressText Action="PowerShellFilesUninstallDeferred" Message="PowerShell Uninstall Files" />
	  <ProgressText Action="PowerShellScriptsUninstallDeferred" Message="PowerShell Uninstall Inline" />
	  <ProgressText Action="PowerShellScriptsElevatedUninstallDeferred" Message="PowerShell Uninstall Inline (elevated)" />
	  <ProgressText Action="PowerShellFilesElevatedUninstallDeferred" Message="PowerShell Uninstall Files (elevated)" />
	</UI>
  </Fragment>
</Wix>