<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Binary Id="CA_DLL" SourceFile="$(var.PowerShellActions.TargetDir)PowerShellActions.CA.dll" />

    <CustomAction Id="PowerShellScriptsImmediate"
                  BinaryKey="CA_DLL"
                  DllEntry="PowerShellScriptsImmediate"
                  Execute="immediate"
                  Return="check" />

    <CustomAction Id="PowerShellScriptsDeferred"
                  BinaryKey="CA_DLL"
                  DllEntry="PowerShellScriptsDeferred"
                  Impersonate="yes"
                  Execute="deferred"
                  Return="check" />
	  
	<CustomAction Id="PowerShellScriptsUninstall"
				  BinaryKey="CA_DLL"
				  DllEntry="PowerShellScriptsUninstall"
				  Execute="immediate"
				  Return="check" />

	<CustomAction Id="PowerShellScriptsUninstallDeferred"
	        	  BinaryKey="CA_DLL"
				  DllEntry="PowerShellScriptsUninstallDeferred"
				  Impersonate="yes"
				  Execute="deferred"
				  Return="check" />

    <CustomAction Id="PowerShellScriptsElevatedImmediate"
                  BinaryKey="CA_DLL"
                  DllEntry="PowerShellScriptsElevatedImmediate"
                  Execute="immediate"
                  Return="check" />

    <CustomAction Id="PowerShellScriptsElevatedDeferred"
                  BinaryKey="CA_DLL"
                  DllEntry="PowerShellScriptsElevatedDeferred"
                  Impersonate="no"
                  Execute="deferred"
                  Return="check" />

	<CustomAction Id="PowerShellScriptsElevatedUninstall"
				  BinaryKey="CA_DLL"
				  DllEntry="PowerShellScriptsElevatedUninstall"
				  Execute="immediate"
				  Return="check" />

	<CustomAction Id="PowerShellScriptsElevatedUninstallDeferred"
				  BinaryKey="CA_DLL"
				  DllEntry="PowerShellScriptsElevatedUninstallDeferred"
				  Impersonate="no"
				  Execute="deferred"
				  Return="check" />
	  
    <CustomAction Id="PowerShellFilesImmediate"
                  BinaryKey="CA_DLL"
                  DllEntry="PowerShellFilesImmediate"
                  Execute="immediate"
                  Return="check" />

    <CustomAction Id="PowerShellFilesDeferred"
                  BinaryKey="CA_DLL"
                  DllEntry="PowerShellFilesDeferred"
                  Impersonate="yes"
                  Execute="deferred"
                  Return="check" />

	<CustomAction Id="PowerShellFilesUninstall"
				  BinaryKey="CA_DLL"
				  DllEntry="PowerShellFilesUninstall"
				  Execute="immediate"
				  Return="check" />
	  
	<CustomAction Id="PowerShellFilesUninstallDeferred"
				  BinaryKey="CA_DLL"
				  DllEntry="PowerShellFilesUninstallDeferred"
				  Impersonate="yes"
				  Execute="deferred"
				  Return="check" />

    <CustomAction Id="PowerShellFilesElevatedImmediate"
                  BinaryKey="CA_DLL"
                  DllEntry="PowerShellFilesElevatedImmediate"
                  Execute="immediate"
                  Return="check" />
    
    <CustomAction Id="PowerShellFilesElevatedDeferred"
                  BinaryKey="CA_DLL"
                  DllEntry="PowerShellFilesElevatedDeferred" 
                  Impersonate="no"
                  Execute="deferred"
                  Return="check" />

	<CustomAction Id="PowerShellFilesElevatedUninstall"
				  BinaryKey="CA_DLL"
				  DllEntry="PowerShellFilesElevatedUninstall"
				  Execute="immediate"
				  Return="check" />

	<CustomAction Id="PowerShellFilesElevatedUninstallDeferred"
				  BinaryKey="CA_DLL"
				  DllEntry="PowerShellFilesElevatedUninstallDeferred"
				  Impersonate="no"
				  Execute="deferred"
				  Return="check" />	  

	<InstallExecuteSequence>
      <!-- These are the 'immediate' actions that prep the data for the 'deferred' actions-->
      <Custom Action="PowerShellScriptsImmediate" Before="PowerShellScriptsDeferred" Overridable="yes">NOT Installed</Custom>

      <Custom Action="PowerShellScriptsElevatedImmediate" Before="PowerShellScriptsElevatedDeferred" Overridable="yes">NOT Installed</Custom>

      <Custom Action="PowerShellFilesImmediate" Before="PowerShellFilesDeferred" Overridable="yes">NOT Installed</Custom>
      
      <Custom Action="PowerShellFilesElevatedImmediate" Before="PowerShellFilesElevatedDeferred" Overridable="yes">NOT Installed</Custom>

      <!-- 'Deferred' actions -->
      <Custom Action="PowerShellScriptsDeferred" After="InstallFiles" Overridable="yes">NOT Installed</Custom>

      <Custom Action="PowerShellScriptsElevatedDeferred" After="InstallFiles" Overridable="yes">NOT Installed</Custom>

      <Custom Action="PowerShellFilesDeferred" After="InstallFiles" Overridable="yes">NOT Installed</Custom>

      <Custom Action="PowerShellFilesElevatedDeferred" After="InstallFiles" Overridable="yes">NOT Installed</Custom>

      <!-- 'Uninstall immediate' actions -->
	  <Custom Action="PowerShellScriptsUninstall" Before="PowerShellScriptsUninstallDeferred" Overridable="yes">REMOVE="ALL"</Custom>

	  <Custom Action="PowerShellScriptsElevatedUninstall" Before="PowerShellScriptsElevatedUninstallDeferred" Overridable="yes">REMOVE="ALL"</Custom>

	  <Custom Action="PowerShellFilesUninstall" Before="PowerShellFilesUninstallDeferred" Overridable="yes">REMOVE="ALL"</Custom>

	  <Custom Action="PowerShellFilesElevatedUninstall" Before="PowerShellFilesElevatedUninstallDeferred" Overridable="yes">REMOVE="ALL"</Custom>

	  <!-- 'Uninstall deferred' actions -->
	  <Custom Action="PowerShellScriptsUninstallDeferred" After="RemoveFiles" Overridable="yes">REMOVE="ALL"</Custom>

	  <Custom Action="PowerShellScriptsElevatedUninstallDeferred" After="RemoveFiles" Overridable="yes">REMOVE="ALL"</Custom>

	  <Custom Action="PowerShellFilesUninstallDeferred" After="RemoveFiles" Overridable="yes">REMOVE="ALL"</Custom>

	  <Custom Action="PowerShellFilesElevatedUninstallDeferred" After="RemoveFiles" Overridable="yes">REMOVE="ALL"</Custom>
	</InstallExecuteSequence>

    <UI>
      <ProgressText Action="PowerShellFilesDeferred">PowerShell Files</ProgressText>
      <ProgressText Action="PowerShellScriptsDeferred">PowerShell Inline</ProgressText>
      <ProgressText Action="PowerShellScriptsElevatedDeferred">PowerShell Inline (elevated)</ProgressText>
      <ProgressText Action="PowerShellFilesElevatedDeferred">PowerShell Files (elevated)</ProgressText>

	  <ProgressText Action="PowerShellFilesUninstallDeferred">PowerShell Uninstall Files</ProgressText>
	  <ProgressText Action="PowerShellScriptsUninstallDeferred">PowerShell Uninstall Inline</ProgressText>
	  <ProgressText Action="PowerShellScriptsElevatedUninstallDeferred">PowerShell Uninstall Inline (elevated)</ProgressText>
	  <ProgressText Action="PowerShellFilesElevatedUninstallDeferred">PowerShell Uninstall Files (elevated)</ProgressText>
	</UI>
  </Fragment>
</Wix>