<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:powershell="http://schemas.gardiner.net.au/PowerShellWixExtensionSchema">
    <Product Id="*" Name="PowerShellWixInlineScriptTest" Language="1033" Version="1.0.0.0" Manufacturer="David Gardiner" UpgradeCode="DEC23BB5-D23B-4B27-9006-252AC8142BA1">
      <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

      <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
      <MediaTemplate EmbedCab="yes" />

      <Feature Id="ProductFeature" Title="PowerShellWixInlineScriptTest" Level="1">
          <ComponentGroupRef Id="ProductComponents" />
      </Feature>

      <InstallExecuteSequence>
        <!-- Override default action sequence -->
        <Custom Action="PowerShellScriptsDeferred" After="RegisterUser">NOT Installed</Custom>
      </InstallExecuteSequence>
      
      <powershell:Script Id="Script2" Elevated="no">
          <![CDATA[

          Write-Host "This is an inline script, running non-elevated"
        
          # Note, for inline scripts square brackets need to be escaped so they don't get interpreted as MSI properties
          $wid=[\[]System.Security.Principal.WindowsIdentity[\]]::GetCurrent()
          $prp=new-object System.Security.Principal.WindowsPrincipal($wid)
          $adm=[\[]System.Security.Principal.WindowsBuiltInRole[\]]::Administrator
    
          Write-Host $wid.Name
          Write-Host $prp.IsInRole($adm)

          for ($i = 1; $i -le 100; $i += 2) 
          { 
            Write-Progress -Activity "Activity" -Status "Status $i% complete" -CurrentOperation "Operation $i" -PercentComplete $i
            Start-Sleep -Milliseconds 50 
          }
        
          ]]>
        </powershell:Script>

        <powershell:Script Id="Script4">
          <![CDATA[

          # throw "oh dear";
          exit 1

        
          ]]>
        </powershell:Script>

        <UIRef Id="WixUI_Minimal" />

    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="PowerShellWixInlineScriptTest">
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="ProductComponent">
              <File Source="TextFile1.txt" KeyPath="yes" />
             </Component> 
        </ComponentGroup>
    </Fragment>
</Wix>